<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://cdn.jsdelivr.net/underscorejs/1.5.2/underscore.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
        <script src="app/lib/backbone.typeahead.js"></script>        
        <script src="app/main.js"></script>

        <script type="text/template" id="formula-template">
            <table>
              <thead>
                <tr>
                  <th>Pinyin</th>
                   <th>Common Name</th>
                    <th>Brand</th>
                    <th>Concentration</th>
                    <th>Grams</th>
                    <th>Cost/Gram</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
              </thead>
              <tbody>
            <% _.each(formulas, function(formula) { %>
                  <tr>
                    <td><input type="text" value="<%= formula.get('pinyin') %>" /></td>
                    <td><input type="text" value="<%= formula.get('common_name') %>" /></td>
                    <td><input type="text" value="<%= formula.get('brand_name') %>" /></td>
                    <td><input type="text" value="<%= formula.get('concentration') %>" /></td>
                    <td><input type="text" value="<%= formula.get('grams') %>" /></td>
                    <td><input type="text" value="<%= formula.get('costPerGram') %>" /></td>
                    <td><input type="text" value="<%= formula.get('subTotal') %>" /></td>
                  </tr>
                <% }); %>  
              </tbody>
            </table>
        </script>
    </body>
</html>